<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.1.6" targetFramework="net40" requireReinstallation="true" />
  <package id="DotNetZip" version="1.11.0" targetFramework="net40" />
  <package id="Fody" version="3.2.15" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.PowerShell.3.ReferenceAssemblies" version="1.0.0" targetFramework="net40" />
</packages>